<div class="box">
    <div class="break">
        <span class="waka"><img src="images/waka.png" alt=""></span> 上次读到 <strong>At the Market</strong> 第二页 <a href="detail.html" class="btn btn-primary">续读</a>
    </div><!--E .break-->
    <div class="userbox">
        <div class="user_photo pull-left">
            <img src="pic/pic4.jpg" alt="">
        </div>
        <div class="user_name pull-left">哇卡的宝贝</div>
          <span class="dkico">
            <img src="images/dk.png" alt=""><p>打个卡吧</p>
          </span>
        <!--点击上面打开图标后换成下面这个成功的图片-->
          <span class="dkico" style="display:none;">
            <img src="images/dk-ok.png" alt=""><p>打个成功</p>
          </span>
        <!--点击上面打开图标后换成下面这个成功的图片-->
        <div class="clearfix"></div>
        <ul class="guanz">
            <li>
                222 <p>粉丝</p>
            </li>
            <li>
                333 <p>关注</p>
            </li>
            <li>
                233 <p>访客</p>
            </li>
        </ul>
    </div><!--E .userbox-->
    <div class="user_list">
        <ul>
            <li onclick="window.location='luyin.html'">
                <i class="icon icon-angle-right pull-right"></i><div class="icob org"><i class="icon icon-bullhorn"></i></div> 我的录音
            </li>
            <li onclick="window.location='message.html'">
                <i class="icon icon-angle-right pull-right"></i><div class="icob green"><i class="icon icon-envelope"></i></div> 我的信息
            </li>
        </ul>
    </div><!--E .user_list-->
</div><!--E .box-->