<div class="box">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#tab1" data-toggle="tab">吾幼榜</a>
        </li>
        <li>
            <a href="#tab2" data-toggle="tab">同城榜</a>
        </li>
        <li>
            <a href="#tab3" data-toggle="tab">中心榜</a>
        </li>
    </ul>
    <div class="tab-content con">
        <div class="tab-pane active" id="tab1">
            <table class="table">
                <tbody>
                <tr>
                    <td>1</td>
                    <td>catouse</td>
                    <td>hello</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>jay</td>
                    <td>thks</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>JK row</td>
                    <td>thks</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tab2">
            <table class="table">
                <tbody>
                <tr>
                    <td>1</td>
                    <td>吾幼小盆友</td>
                    <td>hello</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>jay</td>
                    <td>thks</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>JK row</td>
                    <td>thks</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="tab3">
            <table class="table">
                <tbody>
                <tr>
                    <td>1</td>
                    <td>catouse</td>
                    <td>瑞景中心</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>jay</td>
                    <td>thks</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>JK row</td>
                    <td>thks</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!--E .box-->