<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script type="text/javascript" src="/lib/angular/angular.js"></script>
</head>
<body>
    <a href="/">这个是启动页面，点击进入首页</a>
</body>
</html>